body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

@font-face {
  font-family: mari;
  src: url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
}
.logo{
  margin-top: 300px;
  margin-left: 130px;
  height: 170px;
  width: 170px;
  background-color: white;
  border-radius: 75px 50% 50% 20px;

}
/* .for-developer-name h1{
  margin-top: 380px;
  margin-left: 170px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
} */

.home-full-body{
  background-color: white;
  height: 90.5vh;
  margin: 10px;
  padding: 10px;
  margin-top: 0px;
  opacity: 0;
  }
  
  .fade-in {
    /* Transition for opacity */
    transition: opacity 1s ease-in-out;
    opacity: 1;
  }
  



.home-main-body{
  padding: 20px;
  margin: 10px;
}
.home-main-body h1{
  text-align: center;
  margin-top: 100px;
  color: blue;
  font-family: mari;
}
.home-main-body p{
  font-size:20px;
  margin-top: 30px;
  margin-left:-20px;
  padding: 10px;
  color:cadetblue;

}
#home-login{
  padding: 10px 100px;
  border-radius: 20px;
  margin-top: 30px;
  background-color: blue;
  color: white;
  text-transform:uppercase;
  font-size: 25px;
}
#home-signup{
  padding: 10px 145px;
}